*{
    box-sizing: border-box;
}

.stranger-title{
    display: flex;
    color:black;
    font-size: 5vh;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.profile-nav{
    display: flex;
    color:black;
    font-size: 1.5rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.log-nav{
    display: flex;
    color:black;
    font-size: 1.5rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.inbox-nav{
    display: flex;
    color:black;
    font-size: 1.5rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.post-nav{
    display: flex;
    color:black;
    font-size: 1.5rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}




.user-name {
    display: flex;
    height: 3rem;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15rem;
}

.pass-word {
    display: flex;
    height: 3rem;
    width: 50%;
    margin: 0 auto;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.log-btn {
    display: flex;
    height: 2rem;
    width: 5rem;
    margin: 0 auto;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.signup{
    display: flex;
    justify-content: center;
}

.log-div{
    width: 70%;
    margin: 0 auto;
}

.nav-menu{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 1rem;

}